<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <!-- bean definitions here -->

    <context:component-scan base-package="org.genspark"/>
    <bean id="phone1" class="org.genspark.Phone">
        <property name ="mob" value="0987654321"/>
    </bean>
    <bean id="phone2" class="org.genspark.Phone">
        <property name ="mob" value="1234567899"/>
    </bean>
</beans>